* {
    padding: 0;  
}
body {
    overflow: hidden;
}
#left-container, #middle-container, #right-container {
    position: sticky;
    width: 33%;
    height: 99vh;
    overflow: hidden;
    float: left;
    
}
#left-container {
    border: solid black 1px;
    margin-left: 0.3vw;
    
}
#middle-container {
    overflow: hidden;
}
#right-container {
    border: solid black 1px;
}
#emeralds {
    width: 100%;
    height: 10vh;
}
#emeralds-per-second {
    width: 100%;
    height: 10vh;
    border-bottom: solid black 1px;
}
#emerald {
    background-image: url('../Source/emerald.png');
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 7vh;
}